<template>
  <div>
    <div id="sidebar">
      <header>
        <a href="/dashboard">My App</a>
      </header>
      <ul class="nav">
        <li>
          <router-link to="/dashboard">
            <i class="zmdi zmdi-view-dashboard"></i>
            Dashboard
          </router-link>
        </li>
        <li>
          <router-link to="/upload">
            <i class="zmdi zmdi-view-dashboard"></i>
            Upload
          </router-link>
        </li>
        <li>
          <router-link to="/images">
            <i class="zmdi zmdi-view-dashboard"></i>
            Images
          </router-link>
        </li>
        <li>
          <router-link to="/settings">
            <i class="zmdi zmdi-view-dashboard"></i>
            Settings
          </router-link>
        </li>
      </ul>
    </div>
    <!-- Content -->
    <navbar />
    <div class="container">
      <router-view></router-view>
    </div>
  </div>
</template>
<script>
import store from "../store/index";
import router from "../router";
export default {
  beforeCreate() {
    if (!store.state.isLogged) {
      router.push("login");
    }
  },
  data: function() {
    return {
      name: localStorage.getItem("email")
    };
  }
};
</script>