<template>
  <div class="containter-fluid">
    <div id="content">
      <div>
        <b-nav align="right">
          <b-nav-item v-if="!logged">
            <router-link to="/login">Login</router-link>
          </b-nav-item>
          <b-nav-item v-if="!logged">
            <router-link to="/register">Register</router-link>
          </b-nav-item>
          <b-nav-item v-if="logged">
            <b-dropdown id="dropdown-1" :text="this.name" class="m-md-2">
              <b-dropdown-item>
                <router-link to="/logout">Logout</router-link>
              </b-dropdown-item>
            </b-dropdown>
          </b-nav-item>
        </b-nav>
      </div>
    </div>
  </div>
</template>
<script>
import store from "../store/index";
export default {
  data() {
    return {
      name: localStorage.getItem("email")
    };
  },
  computed: {
    logged: function() {
      return store.state.isLogged;
    }
  }
};
</script>