<template>
  <div>
    <navbar />
    <div class="container" style="background-color:#F7F7F9">
      <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
          <b-form class="form-class" @submit.prevent="register">
            <b-form-group
              id="input-group-1"
              label="Email address:"
              label-for="input-1"
              description="We'll never share your email with anyone else."
            >
              <b-form-input
                id="input-1"
                v-model="form.email"
                type="email"
                placeholder="Enter email"
              ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-2" label="Your Name:" label-for="input-2">
              <b-form-input id="input-2" v-model="form.username" placeholder="Enter name"></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-3" label="Your Password" label-for="input-3">
              <b-form-input
                id="input-3"
                type="password"
                v-model="form.password"
                placeholder="Enter Password"
              ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-4" label="Confirm Password" label-for="input-4">
              <b-form-input
                id="input-4"
                type="password"
                v-model="form.password_confirmation"
                placeholder="Enter Password"
              ></b-form-input>
            </b-form-group>
            <b-button type="submit" variant="primary">Submit</b-button>
          </b-form>
        </div>
        <div class="col-sm"></div>
      </div>
    </div>
  </div>
</template>
<script>
import router from "../router";
import store from "../store/index";
export default {
  name: "login",
  data() {
    return {
      loader: false,
      infoError: false,
      form: {
        email: "",
        password: "",
        username: "",
        password_confirmation: ""
      },
      errors: ""
    };
  },
  beforeCreate() {
    if (store.state.isLogged) {
      router.push("/");
    }
  },
  methods: {
    register() {
      this.loader = true;
      this.infoError = false;
      this.$http.post("register", this.form).then(
        response => {
          localStorage.setItem("token", response.body.token);
          localStorage.setItem("email", response.body.user.email);
          store.commit("LOGIN_USER");
          router.replace("/");
        },
        response => {
          this.infoError = true;
          this.loader = false;
          this.password = "";
          this.password_confirmation = "";
          this.errors = response.data;
        }
      );
    }
  }
};
</script>