<template>
  <div>
    <FilePond
      allowMultiple="true"
      v-bind:server="{
            url: 'http://imglul.loc',
            timeout: 7000,
            process: {
                url: '/uploadFile',
                method: 'POST',
                headers: {
                    Authorization: 'Bearer ' + token
                },
                withCredentials: false
            }
        }"
    ></FilePond>
  </div>
</template>
<script>
export default {
  data() {
    return {
      token: localStorage.getItem("token")
    };
  }
};
</script>
